@(formItem : play.api.data.Field, fieldName : String, label : String, placeHolder : String, kind : String, sassClass : String)

@formVal()={@if(formItem.value == Some("/account-services/assets/images/background.jpg")){}else{@{formItem.value}}}

<div class="form-group">
  <div class="input-group @if(formItem.hasErrors){ has-error }">
      <label class="@sassClass" id="basic-addon1">@Html(label)</label>
      <input type="@kind" class="form-control" placeholder="@placeHolder" aria-describedby="basic-addon1" id="@fieldName" name="@fieldName" value="@formVal()"/>
  </div>
</div>

