@import models.http.TeacherInformation
@(teacherDetails: TeacherInformation, schoolName: String)(implicit request: Request[_])

@colourSwitcher(random : Int) = {
    @random match {
        case 0 => {
            #0A5A95
        }
        case 1 => {
            #F08B16
        }
        case 2 => {
            #9A090C
        }
        case 3 => {
            #57920B
        }
        case _ => {
            #0A5A95
        }
    }
}

@determineFontSize(initials: String) = @{
    if(initials.length <= 4 ) {
        45
    } else {
        40
    }
}

@main_template(title = "Confirm your teacher") {
<div class="top-block-single">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <object>
                    <svg viewBox="0 0 140 140" preserveAspectRatio="xMinYMin meet">
                        <g>
                            <circle fill="@colourSwitcher(scala.util.Random.nextInt(4))" r="50%" cx="50%" cy="50%" class="circle-back" />
                            <text fill="#ffffff" font-size="@determineFontSize(s"${teacherDetails.title.head}.${teacherDetails.lastName.head}")" font-family="Verdana" x="50%" y="60%">
                                <tspan text-anchor="middle">@teacherDetails.title.head.@teacherDetails.lastName.head</tspan>
                            </text>
                        </g>
                    </svg>
                </object>
            </div>

            <div class="col-md-8" id="school-selector">
                <h1>Is this your teacher?</h1>

                <ul class="list-bullet">
                    <li><p>@teacherDetails.title @teacherDetails.lastName</p></li>
                    <li><p>Teaching at @schoolName in room @teacherDetails.room</p></li>
                </ul>

                <div class="alert alert-warning" role="alert">
                    <strong>Please take note,</strong> you won't be able to change this later!
                </div>

                <form method="get" action="@routes.EnrolmentController.enrolmentConfirmation()">
                    <div class="form-group">
                        <div class="btn-group btn-group-lg" role="group" aria-label="...">
                            <a href="javascript:history.back()" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back</a>
                            <button type="submit" class="btn btn-primary btn-lg">Next <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
}