@import com.cjwwdev.frontendUI.builders.NavBarLinkBuilder
@import com.cjwwdev.views.html.templates.MainTemplate

@()(implicit request: Request[_], messages: Messages, links: Seq[NavBarLinkBuilder], navBarRoutes: Map[String, Call])

@MainTemplate(title = messages("pages.enrolment-welcome.title"), links, navBarRoutes) {
    <div class="top-block-single">
        <div class="container">
            <div class="row">
                <div class="col-md-4 ">
                    <div class="responsive-container">
                        <div class="dummy"></div>
                        <div class="img-container">
                            <img src="@routes.Assets.versioned("images/Deversity_Black.png")" width="100%" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-md-8" id="welcome">
                    <h1>@messages("pages.enrolment-welcome.heading")</h1>
                    <p>@messages("pages.enrolment-welcome.body.one")</p>
                    <p>@messages("pages.enrolment-welcome.body.two")</p>
                    <form role="button" method="get" action="@routes.EnrolmentController.selectSchool">
                        <div class="form-group">
                            <div class="input-group">
                                <button type="submit" class="btn btn-primary btn-lg">@messages("app.common.next") <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}