@(schoolDetails: SchoolDetails, role: String)(implicit request: Request[_])

@main_template(title = "All done!") {
    <div class="top-block-single">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="@routes.Assets.versioned("images/Forum.png")" width="100%" alt="">
                </div>

                <div class="col-md-8" id="school-selector">
                    <h1>All done!</h1>

                    <p>We have notified @schoolDetails.orgName you would like to be a @role</p>

                    <div class="alert alert-info" role="alert">
                        You can check whether you've been confirmed on your dashboard.
                    </div>

                    <form action="@routes.RedirectController.redirectToUserDashboard()">
                        <div class="form-group">
                            <div class="input-group">
                                <button type="submit" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> Dashboard</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}