@import com.cjwwdev.frontendUI.builders.NavBarLinkBuilder
@import com.cjwwdev.views.html.templates.MainTemplate

@()(implicit request: Request[_], messages: Messages, messagesApi: MessagesApi, links: Seq[NavBarLinkBuilder], navBarRoutes: Map[String, Call])

@MainTemplate(title = messagesApi("pages.invalid-teacher.title"), links, navBarRoutes) {
    <div class="top-block-single">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="@routes.Assets.versioned("images/teacher.png")" width="100%" alt="">
                </div>

                <div class="col-md-8" id="school-selector">
                    <h1>@messagesApi("pages.invalid-teacher.heading")</h1>

                    <p>@messagesApi("pages.invalid-teacher.body")</p>

                    <div class="alert alert-danger" role="alert">
                        @messagesApi("pages.invalid-teacher.alert")
                    </div>

                    <div class="form-group">
                        <div class="btn-group btn-group-lg" role="group" aria-label="...">
                            <a href="javascript:history.back()" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> @messagesApi("app.common.back")</a>
                            <a href="@routes.HomeController.showHome()" class="btn btn-danger btn-lg">@messagesApi("app.common.cancel") <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}