@import com.cjwwdev.frontendUI.builders.NavBarLinkBuilder
@import com.cjwwdev.views.html.templates.MainTemplate
@import com.cjwwdev.views.html.helpers.radioButton
@import models.forms.Role

@(role: Form[Role], schoolDetails: SchoolDetails)(implicit request: Request[_], messages: Messages, messagesApi: MessagesApi, links: Seq[NavBarLinkBuilder], navBarRoutes: Map[String, Call])

@MainTemplate(title = messagesApi("pages.role-selector.title"), links, navBarRoutes) {
    <div class="top-block-single">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>

                <div class="col-md-8">
                    <h1>@messagesApi("pages.role-selector.heading")</h1>

                    <form action="@routes.EnrolmentController.confirmRole()" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <img src="@routes.Assets.versioned("images/teacher.png")" alt="...">
                                    <br>
                                    <div class="form-group text-center">
                                        @radioButton(
                                            role("role"),
                                            "teacher",
                                            '_name  -> "role",
                                            '_id    -> "role1",
                                            '_label -> messagesApi("pages.role-selector.radio.label.teacher")
                                        )
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <img src="@routes.Assets.versioned("images/student.png")" alt="...">
                                    <br>
                                    <div class="form-group text-center">
                                        @radioButton(
                                            role("role"),
                                            "student",
                                            '_name  -> "role",
                                            '_id    -> "role2",
                                            '_label -> messagesApi("pages.role-selector.radio.label.student")
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="alert alert-info" role="alert">
                            @Html(messagesApi("pages.role-selector.alert", schoolDetails.orgName))
                        </div>

                        <div class="btn-group btn-group-lg" aria-label="...">
                            <button type="submit" class="btn btn-primary btn-lg">@messagesApi("app.common.next") <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                        </div>
                    </form>
                </div>

                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
}