@import com.cjwwdev.views.html.templates.MainTemplate
@import com.cjwwdev.frontendUI.builders.NavBarLinkBuilder

@()(implicit request: Request[_], messages: Messages, messagesApi: MessagesApi, links: Seq[NavBarLinkBuilder], navBarRoutes: Map[String, Call])

@MainTemplate(title = messagesApi("pages.index.title"), links, navBarRoutes) {
    <div class="top-block-single">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="responsive-container">
                        <div class="dummy"></div>
                        <div class="img-container">
                            <img src="@routes.Assets.versioned("images/Deversity_Black.png")" width="100%" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-md-8" id="welcome">
                    <h1>@messagesApi("pages.index.heading")</h1>
                    <p>@messagesApi("pages.index.body")</p>
                </div>
            </div>
        </div>
    </div>
}
