@()(implicit request: Request[_])

@main_template(title = "CJWW Deversity - Welcome") {
    <div class="top-block-single">
        <div class="container">
            <div class="row">
                <div class="col-md-4 ">
                    <div class="responsive-container">
                        <div class="dummy"></div>
                        <div class="img-container">
                            <img src="@routes.Assets.versioned("images/Deversity_Black.png")" width="100%" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-md-8" id="welcome">
                    <h1>printf("Hello programmers!");</h1>
                    <p>Welcome to Deversity. Here you will hopefully learn about some programming concepts that will help you in your journey to become a developer!</p>
                </div>
            </div>
        </div>
    </div>
}
